body {
    padding-top: 20px;
    font-family: sans-serif;
}
.weather-app{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dadde1;
    border-radius: 10px;
}

h1{
    color:rgb(151, 150, 150);
    display: block;
    font-size: 30px;
    font-weight: 150;


}
ul{
    margin: 0;
    padding: 0;
}
li {
    list-style: none;
    margin: 0;
    color:rgb(151, 150, 150);
    font-size: 18px;
    font-weight: 100;
    line-height: 19px;
    padding: 0;

}