body {
    padding-top: 20px;
    font-family: sans-serif;
    background: -webkit-linear-gradient(
        to right,
        #61045f,
        #aa076b
      ); /* Chrome 10-25, Safari 5.1-6 */
      background: linear-gradient(
        to right,
        #61045f,
        #aa076b
      );
}
.weather-app-wrapper{
    max-width: 600px;
    margin: 0 auto;
    
}
.weather-app{
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    border: 1px solid #dadde1;
    background-color: white;
    border-radius: 10px;
}
.overview{
    margin-bottom: 20px;
}

.weather-temp img {
    margin-right: 5px;
    width: 64px;
    height: 64px;
    
}
.weather-temp strong{
    color: rgb(11, 0, 12);
    font-size: 60px;
    line-height: 1;
    font-weight: 400;
}
.weather-temp .units {
    position: relative;
    font-size: 16px;
    top: -34px;

}
h1{
    color:rgb(78, 75, 75);
    display: block;
    font-size: 30px;
    font-weight: 500;

}
ul{
    margin: 0;
    padding: 0;
}
li:first-letter{
    text-transform: capitalize;
}
li {
    list-style: none;
    margin: 0;
    color:rgb(151, 150, 150);
    font-size: 18px;
    font-weight: 100;
    line-height: 19px;
    padding: 0px;
}
.searchForm{
    margin-bottom: 20px;
}
.search-btn{
    background-color: rgb(72, 37, 117);
    border-color: rgb(72, 37, 117);
    font-size: 15px;
    margin-left: ;
}
.btn:hover {
    background-color: #230c33;
    border-color: #230c33;
}

.weather-temp .active {
    color: black;
    cursor: default;

}
.weather-temp .active:hover {

    text-decoration: none;
}
.weather-forecast{
    margin-top: 25px;
    color: rgb(71, 71, 71);
    text-align: center;
    font-size: 18px;

}
footer {
margin-top: 10px;
color: white;

}

.disclaimer{
    color: grey;
    margin-top: 10px;
    text-align: center;

}

a.footerLink:link {
    color: white;
    font-weight: bold;
    
  }
  a.footerLink:visited {
    color: rgb(235, 168, 137);
    font-weight: bold;
    text-decoration: none;
  }